@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&display=swap');


#navbar{
    font-family: 'Poiret One';
    -webkit-text-stroke: 1px green;
}

#background{
    position: absolute;
    top: 0;
    height: 1020px;
    width: 100%;
    z-index: -1;
}

#footer{
position: absolute;
top: 800px;
left: 100px;
}


#wrap{
    border: 3px solid black;
    font-size-adjust: central;
    width: 1000px;
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 50px;
    background-color:rgb(37, 37, 41) ;
    font-family: 'Poiret One';
    border-radius: 20px;
    
    }
    h1{
    color: black;
    text-align: center;
    font-family: 'Poiret One';
    -webkit-text-stroke: 2px black;
    }
    
    h3.heading{
    margin-left: 20px;
    font-size: 25px;
    float: left;
    padding-left: 40px;
    position: relative;
    width: 405px;
    height: 40px;
    padding-top: 5px;
    color: white;
    
    }
    #upper_blank{
    border-bottom: 7px solid magenta;
    margin-top: 40px;
    margin-right: 485px;
    width: 570px;
    padding-right: 480px;
    }
    p{
    margin-left: 5px;
    padding: 8px;
    padding-left: 20px;
    }
    #name{
    margin-left: 20px;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #email{
    margin-left: 20px;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #url{
    margin-left: 20px;
    height: 40px;
    padding-left: 10px;
    width: 500px;
    }
    #comment{
    margin-left: 20px;
    height: 40px;
    padding-left: 10px;
    width: 650px;
    height: 200px;
    }
    #commentSubmit{
    margin-left: 20px;
    width: 250px;
    height: 55px;
    color: black;
    font-size: 20px;
    background-color: chartreuse;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 5px;
    }
    #commentSubmit:hover {
    background-color: darkgreen;
    
    }
    
    p{
    font-size: 18px;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    }

    
    h3.second_heading{
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
    width: 250px;
    height: 50px;
    padding-top: 10px;
    padding-left: 55px;
    
    }
    #middle{
    border: 1px solid lightgray;
    width: 1000px;
    height: 200px;
    background-color: lightyellow;
    margin-left: 45px;
    text-align: left;
    margin-top: 10px;
    }
    .blank{
    border-bottom: 7px solid steelblue;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    width: 800px;
    }
